@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "YuMincho", "Yu Mincho", "游明朝体", "游明朝", sans-serif;
  font-size: 1.8rem;
  font-weight: Regular;
  color: #000;
  letter-spacing: 0;
}

picture img {
  width: 100%;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
header {
  height: 8rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767px) {
  header {
    height: 5rem;
  }
}
.header-inner {
  max-width: 1000px;
  width: 100%;
  height: inherit;
  padding-inline: 3.7037037037vw;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .header-inner {
    max-width: 266.6666666667vw;
    width: 100%;
    height: inherit;
    padding-inline: 10.6666666667vw;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.header-logo-box {
  width: 18.5185185185vw;
  padding-top: 0px;
}

@media (max-width: 767px) {
  .header-logo-box {
    width: 20rem;
    padding-top: 0px;
  }
}
.header-name {
  color: #fff;
  font-size: 1.8518518519vw;
  line-height: 1.65;
  padding-top: 1.1rem;
}

@media (max-width: 767px) {
  .header-name {
    font-size: 2rem;
    padding-top: 0.23em;
  }
}
.header-nav-wrap {
  width: 56.4814814815vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  height: inherit;
}

.header-nav-list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.7777777778vw;
     -moz-column-gap: 2.7777777778vw;
          column-gap: 2.7777777778vw;
}

.header-nav-list-li {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  color: #fff;
  font-size: 1.6666666667vw;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hamburger-menu-mark {
  width: 72px;
  height: 50px;
  background-color: yellow;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  padding: 1.3rem 2rem;
}

.line-wrap {
  background-color: #fff;
  cursor: pointer;
}

.mv {
  position: relative;
}

.mv-image {
  background-color: rgba(0, 0, 0, 0.15);
}

.mv-slider {
  width: 100%;
  position: relative;
}

.mv-slider > div {
  background: url("images/fv-01.jpg");
  background-size: cover;
  position: relative;
  height: 100%;
}

.mv-slider div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.mv-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 31.4814814815vw;
}

@media (max-width: 767px) {
  .mv-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 58.4vw;
  }
}
.mv-catch {
  width: 52.5vw;
  height: 12.962962963vw;
  margin-inline: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .mv-catch {
    width: 76vw;
    height: 48vw;
    margin-inline: auto;
    text-align: center;
  }
}
.if-sp-none {
  color: #fff;
  font-size: 3.7037037037vw;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

@media (max-width: 767px) {
  .if-sp-none {
    display: none;
  }
}
.if-pc-none {
  display: none;
}

@media (max-width: 767px) {
  .if-pc-none {
    display: block;
    color: #fff;
    font-size: 8vw;
    line-height: 2;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}
.about-v {
  position: relative;
}

.about-v-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10.2777777778vw;
}

@media (max-width: 767px) {
  .about-v-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 13.6vw;
  }
}
.about-v-catch {
  width: 59.4444444444vw;
  padding-left: 13.8888888889vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .about-v-catch {
    width: 60vw;
    padding-left: 0;
    margin-inline: 20vw;
    display: grid;
    row-gap: 24px;
  }
}
.about-v-catch-01 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 767px) {
  .about-v-catch-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-v-catch-01 h2 {
  font-size: 2.7777777778vw;
  line-height: 1.2;
  letter-spacing: 0.18em;
}

@media (max-width: 767px) {
  .about-v-catch-01 h2 {
    font-size: 6.6666666667vw;
    line-height: 1.19;
    letter-spacing: 0.2em;
  }
}
.about-v-catch-02 {
  padding-right: 4.8148148148vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 767px) {
  .about-v-catch-02 {
    padding-right: 0;
  }
}
.about-v-catch-02 div {
  padding-left: 2.2222222222vw;
}

@media (max-width: 767px) {
  .about-v-catch-02 div {
    padding-left: 2.6666666667%;
  }
}
.about-v-catch-02 h2 {
  font-size: 1.6666666667vw;
  line-height: 1.37;
  letter-spacing: 0.41em;
}

@media (max-width: 767px) {
  .about-v-catch-02 h2 {
    font-size: 4.2666666667vw;
    line-height: 1.25;
    letter-spacing: 0.25em;
  }
}
#service {
  background: rgba(77, 150, 0, 0.102);
  padding-block: 7.4074074074vw;
}

@media (max-width: 767px) {
  #service {
    padding-block: 13.3333333333vw;
  }
}
.inner {
  max-width: 92.5925925926vw;
  width: 100%;
  padding-inline: 3.7037037037vw;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 767px) {
  .inner {
    max-width: 92vw;
    width: 100%;
    padding-inline: 4vw;
    margin-inline: auto;
    position: relative;
  }
}
.title-wrap {
  display: grid;
  row-gap: 0.7407407407vw;
  text-align: center;
}

@media (max-width: 767px) {
  .title-wrap {
    display: grid;
    row-gap: 2.0833333333vw;
    text-align: center;
  }
}
.title-english-box h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: rgb(77, 150, 0);
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.title-kana-box h2 {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.service-wrap {
  margin-top: 6.2037037037vw;
  display: grid;
  row-gap: 7.4074074074vw;
}

@media (max-width: 767px) {
  .service-wrap {
    margin-top: 10.1333333333vw;
    display: grid;
    row-gap: 13.3333333333vw;
  }
}
.service-list:nth-of-type(odd) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .service-list:nth-of-type(odd) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: grid;
  }
}
.service-list:nth-of-type(even) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .service-list:nth-of-type(even) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service-img-area {
  display: grid;
  row-gap: 1.7592592593vw;
  position: absolute;
  z-index: 11;
}

@media (max-width: 767px) {
  .service-img-area {
    display: grid;
    row-gap: 0.5333333333vw;
    position: static;
  }
}
.service-img-wrap {
  width: 55.5555555556vw;
}

@media (max-width: 767px) {
  .service-img-wrap {
    width: 84vw;
  }
}
@media (max-width: 767px) {
  .image-caption {
    margin-top: 1.0666666667vw;
    margin-bottom: 1.0666666667vw;
  }
}
.image-caption p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.green-box {
  width: 46.2962962963vw;
  background-color: rgb(77, 150, 0);
  color: #fff;
  display: grid;
  row-gap: 1.5740740741vw;
  margin-top: 13.4259259259vw;
}

@media (max-width: 767px) {
  .green-box {
    width: 84vw;
    display: grid;
    row-gap: 3.7333333333vw;
    margin-top: 0;
  }
}
.green-box-right {
  padding-top: 4.6296296296vw;
  padding-right: 0vw;
  padding-bottom: 3.8888888889vw;
  padding-left: 20.3703703704vw;
  margin-left: 38.8888888889vw;
}

@media (max-width: 767px) {
  .green-box-right {
    padding-top: 5.3333333333vw;
    padding-right: 5.3333333333vw;
    padding-bottom: 3.2vw;
    padding-left: 5.3333333333vw;
    margin-left: 0;
  }
}
.green-box-left {
  padding-top: 4.6296296296vw;
  padding-right: 20.3703703704vw;
  padding-bottom: 3.8888888889vw;
  padding-left: 3.7037037037vw;
  margin-right: 38.8888888889vw;
}

@media (max-width: 767px) {
  .green-box-left {
    padding-top: 5.3333333333vw;
    padding-right: 5.3333333333vw;
    padding-bottom: 3.2vw;
    padding-left: 5.3333333333vw;
    margin-right: 0;
  }
}
.green-box h3 {
  font-size: 2.3148148148vw;
  line-height: 1.32;
}

@media (max-width: 767px) {
  .green-box h3 {
    font-size: 5.3333333333vw;
    line-height: 1.25;
  }
}
.green-box p {
  font-size: 1.4814814815vw;
  line-height: 1.5625;
}

@media (max-width: 767px) {
  .green-box p {
    font-size: 4.2666666667vw;
    line-height: 1.5625;
  }
}
.align-right {
  text-align: end;
}

@media (max-width: 767px) {
  .align-right {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */