@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "YuMincho", "Yu Mincho", "游明朝体", "游明朝", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0;
}

picture img {
  width: 100%;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
header {
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  header {
    height: 5rem;
  }
}
.header-inner {
  width: 100%;
  height: inherit;
  padding-inline: 80px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-inner {
    width: 100%;
    height: inherit;
    padding-inline: 20px;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.header-logo-box {
  height: inherit;
  padding-top: 0px;
}

@media (max-width: 767px) {
  .header-logo-box {
    height: inherit;
    padding-top: 0px;
  }
}
.header-name {
  height: inherit;
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  padding-top: 15%;
}

@media (max-width: 930px) {
  .header-name {
    height: inherit;
    color: #fff;
    font-size: 1.7rem;
    padding-top: 18%;
  }
}
@media (max-width: 767px) {
  .header-name {
    height: inherit;
    font-size: 2rem;
    padding-top: 2.3px;
  }
}
.header-nav-wrap {
  width: 66%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  width: 100%;
  height: inherit;
}

.header-nav-list {
  height: inherit;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
}

@media (max-width: 930px) {
  .header-nav-list {
    height: inherit;
    padding-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
}
.header-nav-list-li {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-btn {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0%;
  color: #fff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media (max-width: 930px) {
  .header-nav-btn {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0%;
    color: #fff;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
}
.mv {
  position: relative;
}

.mv-image {
  background-color: rgba(0, 0, 0, 0.15);
}

.mv-slider {
  width: 100%;
  position: relative;
}

.mv-slider > div {
  background: url("images/fv-01.jpg");
  background-size: cover;
  position: relative;
  height: 100%;
}

.mv-slider div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.mv-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 31.4814814815vw;
}

@media (max-width: 767px) {
  .mv-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 58.4vw;
  }
}
.mv-catch {
  width: 56.7rem;
  margin-inline: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .mv-catch {
    width: 28.5rem;
    margin-inline: auto;
    text-align: center;
  }
}
.mv-catch h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

@media (max-width: 767px) {
  .mv-catch h2 {
    color: #fff;
    font-size: 3rem;
    line-height: 2;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}
@media (min-width: 768px) {
  .if-pc-none {
    display: none;
  }
}
.about-inner {
  position: relative;
}

.about-v-catch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45.5%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-48.5%);
          transform: translateY(-48.5%);
  margin-left: 14%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 930px) {
  .about-v-catch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45.5%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-48.5%);
            transform: translateY(-48.5%);
    margin-left: 14%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .about-v-catch {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-49%);
            transform: translateY(-49%);
    margin-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }
}
.about-v-catch-01 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 767px) {
  .about-v-catch-01 {
    margin: 0 auto;
  }
}
.about-v-catch-01 p {
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 0.17em;
}

@media (max-width: 930px) {
  .about-v-catch-01 p {
    font-size: 2.8rem;
    line-height: 1.18;
    letter-spacing: 0.17em;
  }
}
@media (max-width: 767px) {
  .about-v-catch-01 p {
    font-size: 2.5rem;
    line-height: 1.19;
    letter-spacing: 0.2em;
  }
}
.about-v-catch-02 {
  margin-right: 11%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 930px) {
  .about-v-catch-02 {
    margin-right: 8%;
  }
}
@media (max-width: 767px) {
  .about-v-catch-02 {
    margin: 0 auto;
  }
}
.about-v-catch-02 div {
  padding-left: 8.3%;
}

@media (max-width: 930px) {
  .about-v-catch-02 div {
    padding-left: 7.5%;
  }
}
@media (max-width: 767px) {
  .about-v-catch-02 div {
    padding-left: 2.6%;
  }
}
.about-v-catch-02 p {
  font-size: 1.8rem;
  line-height: 1.37;
  letter-spacing: 0.41em;
}

@media (max-width: 930px) {
  .about-v-catch-02 p {
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.41em;
  }
}
@media (max-width: 767px) {
  .about-v-catch-02 p {
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: 0.23em;
  }
}
#service {
  background: rgba(77, 150, 0, 0.102);
  padding-block: 80px;
}

@media (max-width: 767px) {
  #service {
    background: rgba(77, 150, 0, 0.102);
    padding-block: 50px;
  }
}
.inner {
  max-width: 1000px;
  width: 100%;
  padding-inline: 40px;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 767px) {
  .inner {
    width: 92%;
    padding-inline: 15px;
    margin-inline: auto;
    position: relative;
  }
}
.title-wrap {
  padding-bottom: 68px;
  display: grid;
  row-gap: 8px;
  text-align: center;
}

@media (max-width: 767px) {
  .title-wrap {
    padding-bottom: 38px;
    display: grid;
    row-gap: 6px;
    text-align: center;
  }
}
.title-english-box h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: #4D9600;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.title-kana-box h2 {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.service-wrap {
  display: grid;
  row-gap: 80px;
}

@media (max-width: 767px) {
  .service-wrap {
    display: grid;
    row-gap: 50px;
  }
}
.service-list:nth-of-type(odd) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .service-list:nth-of-type(odd) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service-list:nth-of-type(even) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .service-list:nth-of-type(even) {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service-img-area {
  display: grid;
  row-gap: 19px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  z-index: 11;
}

@media (max-width: 767px) {
  .service-img-area {
    display: grid;
    row-gap: 2px;
    position: static;
  }
}
.service-img-wrap {
  width: 65%;
}

@media (max-width: 767px) {
  .service-img-wrap {
    width: 100%;
  }
}
.service-img-wrap-even {
  width: 65%;
  margin-left: 34.7%;
}

@media (max-width: 767px) {
  .service-img-wrap-even {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .image-caption {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
.image-caption p {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.green-box {
  width: 54.3%;
  background-color: #4D9600;
  color: #fff;
  display: grid;
  row-gap: 17px;
  margin-top: 15.7%;
}

@media (max-width: 767px) {
  .green-box {
    width: 100%;
    display: grid;
    row-gap: 14px;
    margin-top: 0;
    padding-block: 20px 12px;
    padding-inline: 20px;
  }
}
.green-box-right {
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 42px;
  padding-left: 23.9%;
  margin-left: 45.6%;
}

@media (max-width: 974px) {
  .green-box-right {
    padding-left: 21.8%;
  }
}
@media (max-width: 767px) {
  .green-box-right {
    padding-block: 20px 12px;
    padding-inline: 20px;
    margin-left: 0;
  }
}
.green-box-left {
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 42px;
  padding-left: 40px;
  margin-right: 45.6%;
}

@media (max-width: 767px) {
  .green-box-left {
    padding-block: 20px 12px;
    padding-inline: 20px;
    margin-right: 0;
  }
}
.green-box h3 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.32;
}

@media (max-width: 767px) {
  .green-box h3 {
    font-size: 2rem;
    line-height: 1.25;
  }
}
.green-box p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5625;
}

@media (max-width: 966px) {
  .ib-max966 {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .green-box p {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}
@media (max-width: 966px) {
  .ib-max966 {
    display: inline-block;
  }
}
.align-right {
  text-align: end;
}

@media (max-width: 767px) {
  .align-right {
    text-align: left;
  }
}
#works {
  width: 100%;
  padding-block: 80px 97px;
}

@media (max-width: 767px) {
  #works {
    width: 100%;
    padding-block: 50px 42px;
  }
}
.works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.3%;
     -moz-column-gap: 4.3%;
          column-gap: 4.3%;
}

@media (max-width: 767px) {
  .works-wrap {
    display: grid;
    row-gap: 22px;
  }
}
.works-list {
  width: 21.7%;
  display: grid;
  row-gap: 19px;
}

@media (max-width: 767px) {
  .works-list {
    width: 100%;
    display: grid;
    row-gap: 9px;
  }
}
.works-li-text-wrap p {
  font-size: 1.6rem;
  line-height: 1.56;
}

@media (max-width: 964px) {
  .works-li-text-wrap p {
    font-size: 1.4rem;
    line-height: 1.56;
  }
}
@media (max-width: 855px) {
  .works-li-text-wrap p {
    font-size: 1.2rem;
    line-height: 1.56;
  }
}
@media (max-width: 767px) {
  .works-li-text-wrap p {
    font-size: 1.6rem;
    line-height: 1.56;
  }
}
#news {
  background: rgba(77, 150, 0, 0.102);
  padding-block: 80px;
}

@media (max-width: 767px) {
  #news {
    background: rgba(77, 150, 0, 0.102);
    padding-block: 50px;
  }
}
.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.5%;
     -moz-column-gap: 6.5%;
          column-gap: 6.5%;
}

@media (max-width: 767px) {
  .news-wrap {
    display: grid;
    row-gap: 50px;
  }
}
.news-news, .news-blog {
  width: 46.7%;
}

@media (max-width: 767px) {
  .news-news, .news-blog {
    width: 100%;
  }
}
.green-area {
  padding-inline: 4.65%;
  background-color: #4D9600;
  padding-block: 12px 5px;
}

.green-area p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.65;
}

.article-wrap {
  background-color: #fff;
  padding-block: 2.3% 4.6%;
  padding-inline: 4.65%;
}

@media (max-width: 767px) {
  .article-wrap {
    background-color: #fff;
    padding-block: 3.17% 6.3%;
    padding-inline: 6.3%;
  }
}
.a-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16.6%;
     -moz-column-gap: 16.6%;
          column-gap: 16.6%;
  border-bottom: solid 1px #55A500;
}

@media (max-width: 767px) {
  .a-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4.7%;
       -moz-column-gap: 4.7%;
            column-gap: 4.7%;
    border-bottom: solid 1px #55A500;
  }
}
.date {
  width: 57px;
  padding-block: 3.3% 9.4%;
}

@media (max-width: 767px) {
  .date {
    width: 57px;
    padding-block: 4.7% 13.4%;
  }
}
.date time {
  font-size: 1.6rem;
  line-height: 2.0625;
  letter-spacing: -0.03em;
}

.text {
  padding-block: 5.1% 3.3%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 767px) {
  .text {
    padding-block: 7.2% 4.7%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.text p {
  font-size: 1.8rem;
  line-height: 1.3888888889;
}

.w-space {
  position: relative;
  height: 18.9%;
}

@media (max-width: 767px) {
  .w-space {
    position: relative;
    height: 26.9%;
  }
}
.link-more {
  background-color: yellow;
  width: 20.5%;
}

.arrow-wrap {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

@media (max-width: 767px) {
  .arrow-wrap {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
}
.more-wrap {
  padding-top: 4.3%;
  padding-right: 8.4%;
  margin-left: 79.4%;
}

@media (max-width: 767px) {
  .more-wrap {
    padding-top: 6.18%;
    padding-right: 12%;
    margin-left: 70.9%;
  }
}
.more-wrap p {
  color: #55A500;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.65;
  letter-spacing: -0.05em;
}/*# sourceMappingURL=style.css.map */