
html {
 padding: 0;
 margin: 0;
 scroll-behavior: smooth; 
 font-size: 10px;
}

body {
 background-color: #fff;
 font-family: "YuMincho","Yu Mincho","游明朝体","游明朝",sans-serif;
 // 游明朝はmacosとWindowsにデバイスインストールされているが、太さが異なる↓
 // ・macos"YuMincho","游明朝体" weightはMedium=500,Demibold=600
 // ・Windows"Yu Mincho","Yu Mincho",weightはRegular=500,Demibold=600
 // なので、自分のPC（Windows）からfigmaでrealestate（複製）を開くと、
 // テキストのプロパティに 「Yu Mincho」、太さの欄に「Regular」なら、macos「Medium（500）」と同じってこと。
 // 太さの欄に「Demibold」なら、macosでも同じく「Demibold=600」ってこと。
 font-size: 1.8rem;     // 1.8rem（18px)が最多なので
 font-weight: Regular;  // 500が最多のfont-weightなので、Regular 
 color: #000; 
 letter-spacing: 0;
 padding-top: 80px; // 高さ80pxのheaderを固定しているための措置 
}

