
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
 padding: 0;
 margin: 0;
 scroll-behavior: smooth; 
 font-size: 10px;
}

body {
 background-color: #fff;
 font-family: "YuMincho","Yu Mincho","游明朝体","游明朝","Yu Gothic","游ゴシック","YuGothic","游ゴシック体",sans-serif,serif;
 // 游明朝はmacosとWindowsにデバイスインストールされているが、太さが異なる↓
 // ・macos"YuMincho","游明朝体" weightはMedium=500,Demibold=600
 // ・Windows"Yu Mincho","游明朝",weightはRegular=500,Demibold=600
 // なので、自分のPC（Windows）からfigmaでrealestate（複製）を開くと、
 // テキストのプロパティに 「Yu Mincho」、太さの欄に「Regular」なら、macos「Medium（500）」と同じってこと。
 // 太さの欄に「Demibold」なら、macosでも同じく「Demibold=600」ってこと。
 font-size: 1.8rem;     // 1.8rem（18px)が最多なので
 font-weight: 500;  // 500が最多のfont-weightなので、「Regular」って書くと効かない理由が不明。
 color: #000; 
 letter-spacing: 0;
}

picture img {
 width: 100%;
}

a {
  cursor: pointer;
}

// sassで変数やmixinを定義
$main-color: rgba(77, 150, 0, 1);
$base-color: rgba(77, 150, 0, 0.102);

@mixin text-style {
  font-size: 2rem;
  line-height: calc(33 / 20);
}

@mixin e-title-style($value:rgba(77, 150, 0, 1)) {
  font-size: 3rem;
  line-height: 1.1;
  color: $value;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

@mixin c-width($value) {
  @media (max-width: $value) {
    @content;
  }
}

// 各sectionに↓のclassを持たせてフワっと出現させる
// main.jsとコンビ
.js-scroll.anima-fade-in {
  opacity: 0;
  transform: translateY(5rem);
}
.js-scroll.anima-fade-in.js-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 4s ease, transform 2s ease;
}


//------------common--------------
// PC、SPの非表示 とりあえず記述し、あとでhtmlで使う感じか？*/
        
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

// 中級編課題では、
// font-size: rem
// 幅・高さ（width,height,padding,marginなど）は、%とpxで書く
// calcを使用するのは、mvくらいってかんじ。

// -------header-------
header {  
 width: 100%;
 height: 8rem;  
 position: fixed;
 z-index: 999;
 top: 0;
 left: 0;
}
@include c-width(767px) {
   header { 
      height: 5rem;  
   }
}

.header-inner {   
  width: 100%; 
  height: inherit;
  padding-inline: 80px;  
  margin-inline: auto; 
  display: flex;    
  justify-content: space-between;
  align-items: center; 
}
@include c-width(1020px){
  .header-inner {            
   padding-inline: 40px;    
   display: flex;        
   position: relative;
  }
 }
@include c-width(767px){
 .header-inner {            
  padding-inline: 20px;    
  display: flex;        
  position: relative;
 }
}

.header-logo-box {
  // background-color: red;
  // width: calc(200 / 1080 * 100vw);
  // width: 200px;   /////////////////////////
  height: inherit;    
}
@include c-width(767px){
 .header-logo-box {
 // width: 20rem;    
  padding-top: 0px;
 }
}

.header-name,
.header-name-sp-scroll {  
  //  font-size: 2rem;
  height: inherit;
  color:#fff;
  padding-top: 28px;
   @include text-style; 
}
@include c-width(1020px){
 .header-name {          
  font-size: 1.7rem;    
  line-height: calc(33 / 20);    
  }
}
@include c-width(767px){
 .header-name {          
  font-size: 2rem;    
  padding-top: 8px;
 }
}

.header-nav-wrap {
  // width: calc(610 / 1080 * 100vw);
  // max-width: 610px;
  // width: 66%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;   
}

.header-nav {
  width: 100%;
  height: inherit;  
}

.header-nav-list {  
  // background-color: aqua;
  height: inherit;   
  display: flex;
  align-items: center;   
}
// @include c-width(930px){
//  .header-nav-list {          
//   padding-top: 2%;     
//   column-gap: 5%;
//   }
// }

//ヘッダーナビの下線をひく実験-----------
.header-nav-list-li {
  height: inherit;  
  display: flex;
  align-items: center;
  // margin-left: 11px;
}

.header-nav-btn {  
  // background-color: #000;
  height: inherit;
  display: flex;
  align-items: center;
  // background-color: yellow;
  font-size: 1.8rem;
  line-height: calc(33 / 18);     
  color:#fff;
  transition: all 0.4s ease-out;
  padding-top: 10px; 
  padding-inline: 14.5px;
}
 @include c-width(1020px){
 .header-nav-btn {  
  font-size: 1.4rem;  
  padding-inline: 11px;
  }
}

.menu-border {
  position:relative;
}

.menu-border::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 1.5px #fff;
  bottom: 3px;
  width: 0;
  transition: width 0.3s ease-out; // 幅変更のアニメーションの時間（0.3秒）
}

//hover＋半角スペース＋子要素の書き方↓
.header-nav-btn:hover .menu-border::after {
  width: 100%; /* hover時に幅を100%に */
}

.header-nav-btn:hover {
  opacity: 0.5;
}

/* スクロール時の色変更に備えて下線の色を黒にするためのクラス */
.scroll-change .menu-border::after {
  border-bottom-color: #000; /* スクロール時の下線の色 */
}

/* ハンバーガーメニュー */
.hamburger {
  position: fixed;
  right: 0;
  width: 72px;
  height: 52px;
  background-color: #fff;
  // border: 2px solid #000;
  cursor: pointer;
}
/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
  position: absolute;
  top: 21px;
  left: 20px;
  width: 32px;
  height: 4px;
  background: $main-color;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 25px;
}
.hamburger-line::before,
.hamburger-line::after {
  content: "";
  left: 0;
}
.hamburger-line::before {
  top: -12px;
}
.hamburger-line::after {
  top: 12px;
}

/* ナビゲーション（中身） */
.ham-menu {
  display: none;
  overflow: hidden;
  position: fixed;
  width: 300px;
  height: 348px;
  top: 51px; 
  right: 0;
  bottom: 0;
  // border: 2px solid #000;
  background-color: $main-color;  
}

.ham-menu ul {
  margin: 0;  
  list-style: none;  
}

.ham-menu ul li {
  height: 58px;
  background-color: $main-color;  
}

.ham-menu ul li a {
  height: inherit;
  display: flex;
  align-items: center; 
  padding-left: 20px;  
  color: #fff;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  transition: 0.4s;  
}

.ham-menu ul li:hover {
  background-color: #000;
}

// -----------mv--------------
.mv {
  position: relative;
}

.mv-image {   
  background-color: rgba(0, 0, 0, 0.15);
}

.mv-slider{ 
  width: 100%;
  position: relative; 
}

.mv-slider > div {
  background: url("images/fv-01.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.mv-slider div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
  // background-color: rgba(0, 0, 0, 0.15);
  // ↑ 黒の透過カラー 設定 
  }

.mv-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(340 / 1080 * 100vw);
}
@include c-width(767px) {
  .mv-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(219 / 375 * 100vw);
  }
}

.mv-catch {
  // background-color: grey;
  width: 56.7rem; 
  // height: calc(140 / 1080 * 100vw);
  margin-inline: auto;
  text-align: center;
}
@include c-width(767px) {
  .mv-catch {
    width: 28.5rem;
    // height: calc(180 / 375 * 100vw);
    margin-inline: auto;
    text-align: center;
  }
}


.mv-catch h2  {
  color:#fff;
  font-size: 4rem;
  font-weight: 600;
  line-height: calc(70 / 40);
  letter-spacing: 0.3em;
  text-indent: 0.3em;  
  // ↓ シャドウの数値をfigmaからコピー
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}
@include c-width(767px) {
  .mv-catch h2 {
  color:#fff;
  font-size: 3rem;
  line-height: calc(60 / 30);
  letter-spacing: 0.3em;
  text-indent: 0.3em; 
 }
}

.pc-pad {
  padding-left: 12px;
}

.sp-pad {
  padding-left: 0px;
}
@include c-width(767px) {
  .sp-pad {
    padding-left: 12px;
  }
}


// .mv-catch {
//   width: calc(567 / 1080 * 100vw); 
//   height: calc(140 / 1080 * 100vw);
//   margin-inline: auto;
//   text-align: center;
// }
// @media (max-width: 767px) {
//   .mv-catch {
//     width: calc(285 / 375 * 100vw); 
//     height: calc(180 / 375 * 100vw);
//     margin-inline: auto;
//     text-align: center;
//   }
// }
// .mv-catch h2 {
//   color:#fff;
//   font-size: calc(40 / 1080 * 100vw);
//   line-height: calc(70 / 40);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em;  
// }
// @media (max-width: 767px) {
//  .mv-catch h2 {
//   color:#fff;
//   font-size: calc(30 / 375 * 100vw);
//   line-height: calc(60 / 30);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em;  
//  }
// }

// .if-sp-none  {
//   color:#fff;
//   font-size: calc(40 / 1080 * 100vw);
//   line-height: calc(70 / 40);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em;  
// }
// @media (max-width: 767px) {
// .if-sp-none {
//   color:#fff;
//   font-size: calc(30 / 375 * 100vw);
//   line-height: calc(60 / 30);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em; 
// }
// }


// -----about-----

.about-inner {
  position: relative;
}

.about-v-catch {   
  width: 45.5%;  
  // ↓いったん50%にした上で、transformで調整すれば、同じ比率を保つ
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-48.5%);
  margin-left: 14%;
  display: flex;
  flex-direction: row-reverse;
}
@include c-width(767px) {
  .about-v-catch {    
    width: 100%; 
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 0%;    
    display: flex;
    flex-direction: column;
    row-gap: 24px;    
  }
}

.about-v-catch-01 {
writing-mode: vertical-rl;
text-orientation: upright;
}
@include c-width(767px) {
.about-v-catch-01 {
  margin: 0 auto;
 }
}

.about-v-catch-01 p {
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 0.17em;
}
@include c-width(930px) {
  .about-v-catch-01 p {
    font-size: 2.8rem;
    line-height: 1.18;
    letter-spacing: 0.17em;
  }
}
@include c-width(767px) {
  .about-v-catch-01 p {
    font-size: 2.5rem;
    line-height: 1.19;
    letter-spacing: 0.2em;
  }
}

.about-v-catch-02 {
 margin-right: 11%; 
 writing-mode: vertical-rl;
 text-orientation: upright; 
}
@include c-width(930px) {
.about-v-catch-02 {
  margin-right: 8%; 
 }
}
@include c-width(767px) {
  .about-v-catch-02 {
    margin: 0 auto; 
   }
}

.about-v-catch-02 div {
  padding-left: 8.3%;
 }
 @include c-width(930px) {
  .about-v-catch-02 div {
    padding-left: 7.5%;
   }
 }
 @include c-width(767px) {
  .about-v-catch-02 div {
  padding-left: 2.6%;    
 }
}

 .about-v-catch-02 p {
  font-size: 1.8rem;
  line-height: 1.37;
  letter-spacing: 0.41em;  
}
@include c-width(930px) {
  .about-v-catch-02 p {
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.41em;  
  }
}
@include c-width(767px) {
  .about-v-catch-02 p {
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: 0.23em;  
  }
}


// -----service-----
#service {
  background: $base-color;  
  padding-block: 80px;
}
@include c-width(767px) {
  #service {
    background: $base-color;  
    padding-block: 52px;
  }
}

.inner {
  // max-width: 1000px;
  max-width: 1000px;
  width: 100%; //1000pxってこと。
  padding-inline: 40px;
  margin-inline: auto;
  position: relative;
}
@include c-width(767px) {
  .inner {
    // max-width: 1000px;
    // max-width: calc(345 / 375 * 100vw);
    width: 92%;
    padding-inline: 15px;
    margin-inline: auto;
    position: relative;
  }
}

.title-wrap {  
  display: grid;
  row-gap: 6px;
  text-align: center;  
  padding-bottom: 69px;
}
@include c-width(767px) {
 .title-wrap {  
  display: grid;
  row-gap: 6px;
  text-align: center;  
  padding-bottom: 37px;
 }
}

.e-title-box h2 {
  @include e-title-style;
}

.title-kana-box h2{
  @include text-style;
  // font-size: 2rem;
  // line-height: calc(33 / 20);
  letter-spacing: 0.3em;
  text-indent: 0.3em; 
}

.service-wrap {    
  display: grid;
  row-gap: 80px;
}
@include c-width(767px) {
  .service-wrap {       
    display: grid;
    row-gap: 50px;
  }
}

.service-list:nth-of-type(odd){
    position: relative;  
    display: flex;
    flex-direction: row;
  }
  @include c-width(767px) {
    .service-list:nth-of-type(odd){
      position: static;
      display: flex;
      // justify-content: center;
      flex-direction: column;
      // display: grid;      
    }
  }
  
  .service-list:nth-of-type(even){
    position: relative;  
    display: flex;
    flex-direction: row-reverse;
  }
  @include c-width(767px) {
    .service-list:nth-of-type(even){
      position: static;
      display: flex;
      flex-direction: column;
    }
  }

.service-img-area {
  display: grid;
  row-gap: 21px;
  position: absolute;
  top:0;
  left: 0;
  transform: translateY(0%);
  z-index: 11;  
  
  }
  @include c-width(767px) {
  .service-img-area {
    display: grid;
    row-gap: 2px;
    position: static; 
    
  }
}

.service-img-wrap {
  width: 65%; 
}
@include c-width(767px) {
  .service-img-wrap {
    width: 100%;   
  //  width: calc(315 / 375 * 100vw);   
 }
}


.service-img-wrap-even {
  width: 65%;  
  margin-left: 34.7%; // 2番めの画像を右寄せにするスタイル
}
@include c-width(767px) {
  .service-img-wrap-even {
    width: 100%;  
    margin-left: 0;
 }
}

// ↓ 767以下のみで発動
@include c-width(767px) {
.image-caption {
  margin-top: 4px;
  margin-bottom: 4px;;
}
}

.image-caption p {
  font-size: 1.6rem;
  line-height: calc(25 / 16);  
}

.green-box {
//  width: 50rem;
//  height: 25rem;
 width: 54.3%;  
 background-color: $main-color;
 color: #fff; 
 display: grid;
 row-gap: 17px;
 margin-top: 15.7%;
}
@include c-width(767px) {
  .green-box {    
     width: 100%;         
     display: grid;
     row-gap: 14px;
     margin-top: 0;     
     padding-block: 20px 12px; 
     padding-inline: 20px;
    }
}

.green-box-right {  
  // padding: 50px 0 42px 220px ;  
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 42px;
  padding-left: 23.9%;
  // margin-left:420px;  
  margin-left: 45.6%;
 }
 @include c-width(974px) {
  .green-box-right {
    padding-left: 21.8%;
  }  
 }
 @include c-width(767px) {
  .green-box-right {         
    padding-block: 20px 12px; 
    padding-inline: 20px;
    margin-left: 0;
   }
 }

.green-box-left {  
  // padding: 50px 220px 42px 40px ; 
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 42px;
  padding-left: 40px;
  // margin-right:420px; 
  margin-right: 45.6%;
 }
 @include c-width(767px) {
  .green-box-left {      
    padding-block: 20px 12px; 
    padding-inline: 20px;
    margin-right: 0;    
   }
 }

.green-box h3 {
  font-size: 2.5rem;
  font-weight: 500;
  // font-size: calc(25 / 1080 * 100vw);
  line-height: calc(33 / 25);  
}
@include c-width(767px) {
  .green-box h3 {
    font-size: 2rem;
    // font-size: calc(20 / 375 * 100vw);
    line-height: calc(25 / 20);  
  }
}

.green-box p {
  font-size: 1.6rem;  
  font-weight: 600;
  line-height: calc(25 / 16);
}
@include c-width(966px) {
.ib-max966 {
  display: inline-block;
 }
}
@include c-width(767px) {
  .green-box p {
    font-size: 1.6rem;    
    line-height: calc(25 / 16);
  }
}

@include c-width(966px) {
  .ib-max966 {
    display: inline-block;
   }
  }
  
  // @media (max-width: 767px) {
  //   .if-sp-none {
  //     display: none;
  //    }
  // }
  
.align-right {
  text-align: end;
}
@include c-width(767px) {
  .align-right {
    text-align: left;
  }
}

// -----works-----

#works {
 width: 100%; 
 padding-block: 80px 97px;
}
@include c-width(767px) {
  #works {
    width: 100%; 
    padding-block: 50px 42px;
   }
}

.works-wrap { 
  display: flex;
  column-gap: 4.4%;
}
@include c-width(767px) {
  .works-wrap {     
    display: grid;
    row-gap: 22px;
  }
}

//---画像と建物名のホバーアクション（はじめ）---
.works-list {
  width: 21.7%;
  display: grid;
  row-gap: 19px; 
  cursor: pointer;  /* カーソルを指マークに変更 */
  transition: transform 0.3s ease;
}
@include c-width(767px) {
  .works-list {
    width: 100%;
    display: grid;
    row-gap: 9px;  
  }
}
.works-li-img-wrap {
  overflow: hidden; // はみ出した部分を隠す
}
.works-list:hover .works-li-img-wrap img {
  transform: scale(1.05); /* ホバー時に画像を1.05倍に拡大 */
  filter: brightness(1.8); // 明るさを1.8倍（80%）増加
}
.works-list:hover:hover .works-li-text-wrap p {
  color: rgba(0, 0, 0, 0.5); //ホバー時に文字色を薄く。
}
//---画像と建物名のホバーアクション（おわり）---

.works-li-text-wrap p {
 font-size: 1.6rem;
 line-height: 1.56;
}
@include c-width(964px) {
  .works-li-text-wrap p {
    font-size: 1.4rem;
    line-height: 1.56;
   }
}
@include c-width(855px) {
  .works-li-text-wrap p {
    font-size: 1.2rem;
    line-height: 1.56;
   }
}
@include c-width(767px) {
  .works-li-text-wrap p {
    font-size: 1.6rem;
    line-height: 1.56;
   }
}





// -----news-----

#news {
  background: $base-color; 
  padding-block: 80px 80px;
}
@include c-width(767px) {
  #news {
    background: $base-color;  
    padding-block: 50px;
  }
}

.news-wrap {  
  display: flex;
  column-gap: 6.5%;
}
@include c-width(767px) {
  .news-wrap {  
    display: grid;
    row-gap: 50px;   
  }
}

.news-news,.news-blog {
  // background-color: yellow;
  width: 46.7%;
}
@include c-width(767px) {
  .news-news,.news-blog {
    // background-color: yellow;
    width: 100%;
  }
}

.green-area {
  padding-inline: 20px;  
  background-color: $main-color;
  padding-block: 9px 8px;
}
.green-area p {
  color: #fff;  
  font-weight: 600; 
  @include text-style;  
}

.article-wrap {
  background-color: #fff;
  padding-block: 10px 0px;   
  // padding-block: 2.3% 0%;
  padding-inline: 4.65%;  
}
@include c-width(767px) {
.article-wrap {
  background-color: #fff;
  padding-block: 10px 0px;  
  //padding-block: 3.17% 0%;   
  padding-inline: 6.3%;  
 }
}

.a-link{
  // background-color: aqua;  
  display: flex;
  align-items: center;
  column-gap: 16.6%;
  border-bottom: solid 1px #55A500;
  transition: 0.4s;
}
@include c-width(767px) {
  .a-link{
    // background-color: aqua;  
    display: flex;
    align-items: center;
    column-gap: 4.7%;
    border-bottom: solid 1px #55A500;
  }
}
    
.date {
  width: 57px;  
  padding-block: 13px 36px;
  //padding-block: 3.3% 9.4%;
}
@include c-width(767px) {
  .date {
    width: 57px;  
    padding-block: 13px 36px;
    //padding-block: 1.6% 4.6%;
    // padding-block: 0%;
  }
}
@include c-width(574px) {
  .date {
    width: 57px;  
    // padding-block: 13px 36px;
    //padding-block: 2.2% 6.2%;
    //padding-block: 5.2% 14.2%;
    // padding-block: 0%;
  }
}

.date time {
  font-size: 1.6rem;
  line-height: calc(33 / 16);
  letter-spacing: -0.03em;  
}

.text {
  padding-block: 20px 12px;
  //padding-block: 5.1% 3.3%;  
  flex: 1;
}
@include c-width(767px) {
  .text {
    padding-block: 20px 12px;
    // padding-block: 2.6% 1.6%;    
    //padding-block: 0;
    flex: 1;
  }
}
@include c-width(574px) {
  .text {
    // padding-block: 20px 12px;
    //padding-block: 3.4% 2.2%;
    //padding-block: 6.4% 2.2%;
    // padding-block: 0%;
    flex: 1;
  }
}

.text p {
  font-size: 1.8rem;
  line-height: calc(25 / 18);  
}


.a-link:hover {
  color: red;
}

.date time:hover {
  font-weight: bold;
}

.text p:hover {
  font-weight: bold;
}

.w-space {
  width: 100%;
  // background-color: aqua;    
  display: flex;
  justify-content: flex-end;
}

.link-more {
  // background-color: grey;  
  padding-block: 17px 20px;  
  transition: transform 0.3s ease;
}

.link-more:hover {
  transform: translate(10px, 0px);   
}


.more-wrap {  
  width: 100%;  
  // padding-top: calc(17 / 80);
  padding-top: 21.25%;    
}

.more-wrap p {    
  color: #55A500;
  font-size: 2.2rem; 
  // カンプだと「20px」（2rem）だが、ピクパで合わないので拡大
  font-weight: 600;  
  // ↑「Demibold」と書くと効いてない理由がわからない
  line-height: 0;
  // ↑ 「more」と矢印画像の間を詰めるため
  letter-spacing: -0.05em;
}

.arrow-wrap  {
  width: 100%;  
  }

// -----company-----

#company {  
  padding-block: 80px 80px;
}
@include c-width(767px) {
  #company {   
    padding-block: 50px;
  }
}

.e-title-box-other h2 {
  @include e-title-style(#55A500);
}

.com-wrap {
  // background-color: yellow;  
}
@include c-width(767px) {
  .com-wrap {
   display: grid;
   row-gap: 20px;
  }
}

.com-green-box-parent {
  padding-top: 21.3%;
  //padding-top: 208px;
  padding-left: 45.6%;
}
@include c-width(767px) {
  .com-green-box-parent {
    padding-top: 0;
    //padding-top: 208px;
    padding-left: 0;
  }
}

.com-green-box {
  background-color: $main-color;
  color: #fff;  
  //padding: 41px 5px 50px 220px;
  //padding: 8.2% 1% 10% 44%;
  padding: 10% 1% 7.8% 44%;
}
@include c-width(867px) {
  .com-green-box {    
  //padding: 41px 5px 50px 220px;
  //padding: 8.2% 1% 10% 44%;
  padding: 10% 3.6% 7.8% 41%;
  }
}
@include c-width(767px) {
  .com-green-box {    
  //padding: 19px 20px 12px 20px;
  //padding: 8.2% 1% 10% 44%;
  padding: 6% 6.3% 3.8% 6.3%;
  }
}

.com-iframe-box {
 position: relative; 
}
@include c-width(767px) {
  .com-iframe-box {
    position: static; 
   }
}

.iframe-wrap {  
  width: 65.21%;
  height: 400px;  
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0%);
}
@include c-width(767px) {
  .iframe-wrap { 
  width: 100%;
  height: 300px;  
  position: static;
}
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // aspect-ratio: 600 / 400;  
}
@include c-width(767px) {
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 600 / 400;  
  }
}

.com-gb-name p {
  padding-top: 2px;
 font-size: 2rem;
 font-weight: 600;
 line-height: 1.65;
}

.com-gb-address {
  //margin-block: 7px 12px;
  margin-block: 2.8% 4.7%;
}

@media (min-width: 387px) and (max-width: 767px) {
 .none-387-767 {
  display: none;
 }
}

.com-gb-address p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.56;
 }
 
 @include c-width(767px) {
  .tel {
    pointer-events: none;
  } 
}

 .com-gb-tel p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.56;
 }
 .com-gb-tel span {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  
 }

 .com-gb-mail {
  //margin-top: 19px;
  margin-top: 5.3%;
 }
 .com-gb-mail p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.56;
 }


// -----contact-----

#contact {
  background: rgba(77, 150, 0, 0.149);
  padding-block: 82px;
}
@include c-width(767px) {
  #contact {
    background: $base-color;  
    padding-block: 50px;
  }
}

.con-title-wrap {  
  display: grid;
  row-gap: 6px;
  text-align: center;  
  padding-bottom: 36px;
}

.con-inner {
  // max-width: 1000px;
  max-width: 920px;
  width: 100%; //1000pxってこと。
  padding-inline: 60px;
  margin-inline: auto;
  position: relative;
}
@include c-width(767px) {
  .con-inner {
    // max-width: 1000px;
    // max-width: calc(345 / 375 * 100vw);
    width: 92%;
    padding-inline: 15px;
    margin-inline: auto;
    position: relative;
  }
}

.attention p {
  @include text-style;  
}



// @media (min-width: 487px) and (max-width: 804px) {
//  .display487-804 {
//   display: block;
//  }
// }

// // @media (min-width: 804px) {
// @media (min-width: 486px) or (min-width: 804px) {
//   .none-min804{
//    display: none;
//   }
// }

@media (min-width: 407px) and (max-width: 803px) {
  .ib-407-803 {
    display: inline-block;
  }
}

.con-sec-form-block {
  margin-top: 69px;
}
@include c-width(767px) {
  .con-sec-form-block {
    margin-top: 39px;
  }
}

.form-flex {
  display: flex;
}
@include c-width(767px) {
  .form-flex {
    display: grid;    
    column-gap: 0;
  }
}

.item {
  width: 21.25%;  
  height: 50px;
  // padding-top: 4px;
  display: flex;
  align-items: center;
  @include text-style;  
}
@include c-width(767px) {
  .item {
    width: 53.9%;  
    height: auto;
    // padding-top: 1px;    
  }
}

.name-label {
  font-weight: 500;
}


.space-or-btn {
  flex: 1;
  } 

::placeholder {
  color: #A0A0A0;
  font-size: 1.6rem;
  font-weight: 300; 
  // ↑ figmaでは500で表示⇒このscssでもroot設定（500）なのに、
  // ピクパと合わない。300がちょうどよかった。理由は不明。
  line-height: calc(25 / 16);
}
.form-control {
  background: #fff;
  width: 100%;
  height: 50px;  
  padding-inline: 20px;
  display: block;
}

@include c-width(767px) {
.short-767 {
  //width: 90px;
  width: 27%;
 }
}

.form-gender {
  display: flex;
  margin-block: 43px 41px;
}
@include c-width(767px) {
  .form-gender {
    display: flex;
    margin-block: 30px 31px;
  }
}

.form-category {
  margin-block: 51px 41px;
}
@include c-width(767px) {
  .form-category {
    margin-block: 29px 29px;
  }
}



// -----ラジオボタンの実装（ここから）-----
.radio-wrap {
  // background-color: aqua;
  width: 100%;
  display: flex;
  column-gap: 10.9%;
  align-items: center;  
}
.radio__btn {
  appearance: none;  
}
.radio__text {
  // background-color: yellow;
  padding-left: 37px;
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: calc(25/ 18);
}
.radio__text::before {
  content: '';
  display: block; 
  border-radius: 50%; 
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.radio__btn:checked +.radio__text::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}
// -----ラジオボタンの実装（ここまで）-----


//---select（問い合わせ種別）ボタンの実装(start)-----

.cate-pull-down {  
  position: relative;
  width: 100%;
}

.cate-pull-down::before {
    content: "";
    width: 10px;
    height: 0;
    border-style: solid;
    // border-width: 5px 5px 0 5px;    
    border-width: 12.5px 9.5px 0px 9.5px;
    border-color: $main-color transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }

.cate-option  {
  background-color: #fff;
  width: 100%;
  height: 50px;  
  // padding-top: 5px;
  padding-inline: 20px 0px;
  display: block;
  
  // デフォルトの矢印を削除
  -webkit-appearance: none;
  appearance: none; 
  font-size: 1.8rem;
  line-height: calc(25 / 18);
}
@include c-width(767px) {
  .cate-option {
    font-size: 1.6rem;
    line-height: calc(25 / 16);
  }
}

.cate-option::-ms-expand {
  display: none; /* デフォルトの矢印を非表示(IE用) */
}



// /* セレクトボックスの矢印デザイン変更 */
// .cate-option {
//   background-image: url(../images/spin-btn.jpg);
//   background-position: right 17px center;
//   background-repeat: no-repeat;
//   background-size: 20px 16px;
// }

//---select（問い合わせ種別）ボタンの実装(end)-----

.form-text-content {
  display: block;
}

.form-textarea {
  background: #fff;
  width: 100%;
  height: 200px;
  padding-inline: 20px;
}

.find-out-method {
  margin-block: 53px 8px;
}
@include c-width(767px) {
  .find-out-method {
    margin-block: 31px 0px;
  }
}

.find-out-method p {  
  @include text-style;  
}
@include c-width(767px) {
  .find-out-method p {  
    font-size: 2rem;
    line-height: calc(27 / 20);
  }
}

@include c-width(534px) {
  .ib-534 {
    display: inline-block;
  }
}

// -----チェックボタンの実装（ここから）-----
.form-checkbox {   
  display: flex;
  flex-wrap: wrap;
  // column-gap: 4.5%;  
}

.media-check { 
  // background-color: yellow; 
  width: 25%;
  // background-color: yellow;
  // display: block;
  position: relative;
  margin: 0 0;
  padding-top: 1px;
  // padding-left: calc(40 / 800);
  padding-left: 5%;
  padding-bottom: 16px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
  font-size: 1.8rem;
  line-height: calc(25 / 18);
}
@include c-width(767px) {
  .media-check { 
    width: 50%;
    // background-color: yellow;    
    position: relative;
    margin: 0 0;
    padding-top: 1px;
    // padding-left: calc(30 / 315);
    padding-left: 9.5%;
    padding-bottom: 4px;
    cursor: pointer;
    user-select: none; /* テキストの選択を防ぐ */
    font-size: 1.6rem;
    line-height: calc(25 / 16);
  }
}

.pad-left-little {
  padding-left: 5.5%;
}
@include c-width(767px) {
  .pad-left-little {
  padding-left: 9.5%;
}
}

/* inputは非表示にする */
.media-check input {
  display: none;
}

/* □ */
.checkmark {
  background-color:#fff;
  position: absolute;
  // top: 3px;
  top: 6.3%; /* 上からの位置 */
  left: 2px;
  height: 20px; /* 大きさ */
  width: 20px; /* 大きさ */
  // border: solid 1px #000; /* 線 */
  border-radius: 0;
  box-sizing: border-box;
}
/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 7px; /* チェックの位置 */
  top: 4px; /* チェックの位置 */  
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく チェック入った時に透明解除する構造 */
}

/* チェックが入ったときの□ */
.media-check input:checked + .checkmark {
  // background: #2e80ff; /* チェック時の色。✓が黒なのでコメントアウト　*/
  // border-color: #2e80ff; /* チェック時の色。✓が黒なのでコメントアウト*/
}

/* チェックが入ったときの✓ */
.media-check input:checked + .checkmark:after {
  opacity: 1; /* 透明を解除 */
}
// -----チェックボタンの実装（ここまで）-----


.privacy-policy-title {
  @include text-style;  
  margin-block: 32px 10px;
}
@include c-width(767px) {
  .privacy-policy-title {
    @include text-style;  
    margin-block: 25px 0px;
  }
}

.privacy-policy {
  height: 300px;   
  background-color: #fff;
  //padding: 40px 60px 40px 40px;  
  padding: 40px 7.5% 40px 5%;   
  overflow-y: scroll;  // height:300pxを指定した上で、y軸（縦）のスクロール設定
}
@include c-width(767px) {
  .privacy-policy {
    height: 323px;   
    background-color: #fff;
    // padding: 30px 50px 30px 30px;  
    padding: 30px 15.8% 30px 9.5%;  
    overflow-y: scroll;  // height:300pxを指定した上で、y軸（縦）のスクロール設定
  }
}

.pp-head {
  font-size: 1.8rem;
  line-height: calc(31 / 18);
}
@include c-width(767px) {
  .pp-head {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
}

.pp-detail {
  font-size: 1.6rem;
  line-height: calc(31 / 16);
}
@include c-width(767px) {
  .pp-detail {
    font-size: 1.6rem;
    line-height: calc(33 / 16);
  }
}

.pp-space {
  margin-bottom: 31px;
}
@include c-width(767px) {
  .pp-space {
    margin-bottom: 33px;
  }
}

@include c-width(767px) {
.ib-376 {
  display: inline-block;
 }
}

.form-submit-area {
  background-color: $main-color;
  width: 300px;
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  padding: 9px 0 8px;
  color: #fff;
  @include text-style;  
 font-weight: 600;
 transition: 0.4s;
}
@include c-width(767px) {
  .form-submit-area {
    background-color: $main-color;
    width: 315px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}

.form-submit-area:hover {
  background-color: #fff;
  color: $main-color;
  border: solid 1px $main-color;
}

// -----footer-----

footer {
  width: 100%;  
}

.footer-company-name {
  // background-color: yellow;
  padding-block: 80px 28px;
  padding-block: 78px 26px;
  text-align: center;
  margin-inline: auto;
  width: 79%;
  border-bottom: solid 1px #000;
}
@include c-width(767px) {
  .footer-company-name {    
    padding-block: 50px 20px;
    text-align: center;
    margin-inline: auto;
    width: 100%;
    border-bottom: solid 1px #000;
    margin-bottom: 20px;
  }
}

.footer-company-name p {
  @include text-style;  
}

.footer-nav-wrap {
  // background-color: aqua;  
  width: 100%; 
  margin-inline: auto;  
}
@include c-width(767px) {
  .footer-nav-wrap {   
    width: 100%; 
    margin-inline: auto;
    // padding-inline: 20px;
  }
}

.footer-nav-wrap nav ul {
 display: flex;
//  column-gap: 50px;
 column-gap: 5.3%;
 justify-content: center;
}
@include c-width(767px) {
  .footer-nav-wrap nav ul {
    display: flex;
   //  column-gap: 50px;
    column-gap: 9.5%;
    justify-content:flex-start;
    flex-wrap: wrap;
   }
}
@include c-width(449px) {
  .footer-nav-wrap nav ul {
    display: flex;
   //  column-gap: 50px;
    column-gap: 9.5%;
    justify-content:center;
    flex-wrap: wrap;
   }
}

.footer-nav-wrap nav ul li { 
 padding-block: 28px 30px;
}
@include c-width(767px) {
  .footer-nav-wrap nav ul li { 
    padding-block: 0px 5px;
   }
}


.footer-nav-btn {
  padding-block: inherit;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  transition: 0.4s;
 }
 
 .footer-nav-btn:hover {
  opacity: 0.4;
}

.sns-icon-wrap {
  // background-color: antiquewhite;
  width: 100%;  
  display: flex;
  column-gap: 30px;  
  justify-content: center; 
  margin-bottom: 78px;
}
@include c-width(767px) {
  .sns-icon-wrap {
    // background-color: antiquewhite;
  width: 100%;  
  display: flex;
  column-gap: 30px;  
  justify-content: center; 
  margin-top: 23px;
  margin-bottom: 50px;
  }
}

.sns-icon-wrap a {
  width: 28px;
  transition: 0.4s;
 }

 .sns-icon-wrap a:hover {
  opacity: 0.4;
  transform: scale(1.2);
 }

 .sns-icon-wrap a:nth-child(3) {
  padding-top: 2px;
 }

.copy-right {
  width: 100%;
  background-color: $main-color;
  padding-block: 30px;  
  text-align: center;
}
@include c-width(767px) {
  .copy-right {
    width: 100%;
    background-color: $main-color;
    padding-block: 21px;
    text-align: center;
  }
}

.copy-right p {
  color: #fff;
  @include text-style;  
  font-weight: 300; 
  letter-spacing: 0.01em;
}
@include c-width(767px) {
  .copy-right p {
    font-size: 2rem;
    line-height: calc(25 / 20);
    letter-spacing: 0.01em;
  }
}

@include c-width(767px) {
  .l-s-shrink {
    padding-right: 19px;
  }
}

// -----戻るボタン-----
  .back-btn {
    width: 68px;
    height: 68px;
    display: none;
    padding: 22px 20px;
    // padding: 40px 10px;
    background-color: $main-color;
    color: #000;
    text-decoration: none;
    border-radius: 50%;  
    position: fixed;
    bottom: 60px;
    right: 60px;
  }
  @include c-width(767px){
    .back-btn{
      width: 50px;
      height: 50px;
      display: none;
      padding: 13px 13px;
      // padding: 40px 10px;
      background-color: $main-color;
      color: #000;
      text-decoration: none;
      border-radius: 50%;  
      position: fixed;
      bottom: 60px;
      right: 20px;
    }
  }

//---------------------------------------------

/* モーダル全体 */
.modal-area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
/* モーダル外の背景 */
.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.502);
}
/* モーダル外の内容部分 */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 450px;
  width: 41.6%;
  height: auto;
  text-align: center;
  //background: rgba(255, 255, 255, 1);
  background-color: #fff;
  padding: 15px 15px 0px;
}
@include c-width(767px) {
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width:315px;
    width: 84%;
    height: auto;
    text-align: center;
    //background: rgba(255, 255, 255, 1);
    background-color: #fff;
    padding: 20px 20px 0px;
  }
}

.m-image-wrap {
  // width: 315px;
  width: 100%;
  height: auto;
  margin-inline: auto;
}

.m-caption {
  padding-block: 9px 6px;
  text-align: left;
}
@include c-width(767px) {
  .m-caption {
    padding-block: 7px 14px;
    text-align: left;
  }
}

@include c-width(497px) {
  .ib-max497 {
    display: inline-block;
  }
}



/* ウィンドウを閉じるボタン */
.modal-cancel {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-cancel::before {
  content: '×'; /* Unicode 文字 */
  font-size: 18px; /* フォントサイズ */
  color: #000; /* 文字色 */
  display: inline-block; /* インラインブロック要素にする */
  width: 18px; /* 幅 */
  height: 18px; /* 高さ */
  text-align: center; /* 文字を中央揃え */
  line-height: 18px; /* 行の高さ */
}