
html {
 padding: 0;
 margin: 0;
 scroll-behavior: smooth; 
 font-size: 10px;
}

body {
 background-color: #fff;
 font-family: "YuMincho","Yu Mincho","游明朝体","游明朝",sans-serif;
 // 游明朝はmacosとWindowsにデバイスインストールされているが、太さが異なる↓
 // ・macos"YuMincho","游明朝体" weightはMedium=500,Demibold=600
 // ・Windows"Yu Mincho","Yu Mincho",weightはRegular=500,Demibold=600
 // なので、自分のPC（Windows）からfigmaでrealestate（複製）を開くと、
 // テキストのプロパティに 「Yu Mincho」、太さの欄に「Regular」なら、macos「Medium（500）」と同じってこと。
 // 太さの欄に「Demibold」なら、macosでも同じく「Demibold=600」ってこと。
 font-size: 1.8rem;     // 1.8rem（18px)が最多なので
 font-weight: Regular;  // 500が最多のfont-weightなので、Regular 
 color: #000; 
 letter-spacing: 0;
}

picture img {
 width: 100%;
}

//------------common--------------
// PC、SPの非表示 とりあえず記述し、あとでhtmlで使う感じか？*/
        
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}


// -------header-------

header {
 height: 8rem;  
 position: fixed;
 z-index: 999;
 top: 0;
 left: 0;
 width: 100%; 
}
@media (max-width: 767px) {
  header { 
    height: 5rem;  
 }
}

.header-inner {
  max-width: 1000px;
  width: 100%; 
  height: inherit;
  padding-inline: calc(40 / 1080 * 100vw);
  margin-inline: auto; 
  display: flex;    
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .header-inner {
    max-width: calc(1000 / 375 * 100vw);
    width: 100%; 
    height: inherit;
    padding-inline: calc(40 / 375 * 100vw);
    margin-inline: auto; 
    display: flex;    
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.header-logo-box {
  width: calc(200 / 1080 * 100vw);
  padding-top: 0px;
}
@media (max-width: 767px) {
  .header-logo-box {
    width: 20rem;
    padding-top: 0px;
  }
}

.header-name {  
  //  font-size: 2rem;
  color:#fff;
  font-size: calc(20 / 1080 * 100vw);
  line-height: calc(33 / 20);
  padding-top: 1.1rem;
}
@media (max-width: 767px) {
  .header-name {      
    font-size: 2rem;    
    padding-top: 0.23em;
  }
}

.header-nav-wrap {
  width: calc(610 / 1080 * 100vw);
  height: inherit;
  display: flex; 
  align-items: center;     
}

.header-nav {
  height: inherit;
}
.header-nav-list {       
  height: inherit;  
  display: flex;
  align-items: center;       
  column-gap: calc(30 / 1080 * 100vw);
}
.header-nav-list-li {    
  height: inherit;
  display: flex;
  align-items: center; 
}
.header-nav-btn {  
  // font-size: 1.8rem;                        
  display: flex;
  align-items: center;              
  padding-top: 0.5rem;              
  color:#fff;    
  font-size: calc(18 / 1080 * 100vw);
  transition: all 0.4s linear; 
}
              
// ハンバーガーメニュー    
.hamburger-menu-mark {
  // width: calc(72 / 375 * 100vw); 
  // height: calc(50 / 375 * 100vw); 
  width: 72px; 
  height: 50px; 
  background-color:yellow;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  padding: 1.3rem 2rem;
}

.line-wrap {  
  background-color: #fff;
  cursor: pointer;
}


// -----mv-----

.mv {
  position: relative;
}

.mv-image {   
  background-color: rgba(0, 0, 0, 0.15)
}

.mv-slider{ 
  width: 100%;
  position: relative; 
}

.mv-slider > div {
  background: url("images/fv-01.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
}

.mv-slider div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.03);
  // background-color: rgba(0, 0, 0, 0.15);  
  }

.mv-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(340 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .mv-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(219 / 375 * 100vw);
  }
}


.mv-catch {
  width: calc(567 / 1080 * 100vw); 
  height: calc(140 / 1080 * 100vw);
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .mv-catch {
    width: calc(285 / 375 * 100vw); 
    height: calc(180 / 375 * 100vw);
    margin-inline: auto;
    text-align: center;
  }
}
// .mv-catch h2 {
//   color:#fff;
//   font-size: calc(40 / 1080 * 100vw);
//   line-height: calc(70 / 40);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em;  
// }
// @media (max-width: 767px) {
//  .mv-catch h2 {
//   color:#fff;
//   font-size: calc(30 / 375 * 100vw);
//   line-height: calc(60 / 30);
//   letter-spacing: 0.3em;
//   text-indent: 0.3em;  
//  }
// }

.if-sp-none  {
  color:#fff;
  font-size: calc(40 / 1080 * 100vw);
  line-height: calc(70 / 40);
  letter-spacing: 0.3em;
  text-indent: 0.3em;  
}
@media (max-width: 767px) {
.if-sp-none {
  display: none;
}
}

.if-pc-none {
  display: none;
}
@media (max-width: 767px) {
  .if-pc-none {
  display: block;
  color:#fff;
  font-size: calc(30 / 375 * 100vw);
  line-height: calc(60 / 30);
  letter-spacing: 0.3em;
  text-indent: 0.3em;  
  }
}


// -----about-----
.about-v {
  position: relative;
}

.about-v-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(111 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .about-v-contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(51 / 375 * 100vw);
 }
}

.about-v-catch {
  width: calc(642 / 1080 * 100vw);    
  padding-left: calc(150 / 1080 * 100vw);
  display: flex;
  // align-items: center;
  // justify-content: left;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .about-v-catch {
    width: calc(225 / 375 * 100vw);    
    padding-left: 0;
    // padding-inline: calc(75 / 375 * 100vw);
    margin-inline: calc(75 / 375 * 100vw);
    display: grid;
    row-gap: 24px;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
  }
}

.about-v-catch-01 {
writing-mode: vertical-rl;
text-orientation: upright;
}
@media (max-width: 767px) {
.about-v-catch-01 {
  display: flex;
  align-items: center;  
 }
}

.about-v-catch-01 h2 {
  font-size: calc(30 / 1080 * 100vw);
  line-height: calc(36 / 30);
  letter-spacing: 0.18em;
}
@media (max-width: 767px) {
  .about-v-catch-01 h2 {
    font-size: calc(25 / 375 * 100vw);
    line-height: calc(29.75 / 25);
    letter-spacing: 0.2em;
  }
}

.about-v-catch-02 {
 padding-right: calc(52 / 1080 * 100vw); 
 writing-mode: vertical-rl;
text-orientation: upright;
}
@media (max-width: 767px) {
  .about-v-catch-02 {
    padding-right: 0; 
   }
}

.about-v-catch-02 div {
  padding-left: calc(24 / 1080 * 100vw); 
 }
 @media (max-width: 767px) { 
  .about-v-catch-02 div {
  padding-left: calc(10 / 375 * 100%);    
 }
}

 .about-v-catch-02 h2 {
  font-size: calc(18 / 1080 * 100vw);
  line-height: calc(24.66 / 18);
  letter-spacing: 0.41em;  
}
@media (max-width: 767px) {
  .about-v-catch-02 h2 {
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(20 / 16);
    letter-spacing: 0.25em;  
  }
}


// -----service-----

#service {
  background: rgba(77, 150, 0, 0.102);
  padding-top: calc(80 / 1080 * 100vw);
}
@media (max-width: 767px) {
  #service {    
    padding-top: calc(50 / 375 * 100vw);
  }
}

.inner {
  // max-width: 1000px;
  max-width: calc(1000 / 1080 * 100vw);
  width: 100%;
  padding-inline: calc(40/ 1080 * 100vw);
  margin-inline: auto;
  position: relative;
}
@media (max-width: 767px) {
  .inner {
    // max-width: 1000px;
    max-width: calc(345 / 375 * 100vw);
    width: 100%;
    padding-inline: calc(15/ 375 * 100vw);
    margin-inline: auto;
    position: relative;
  }
}

.title-wrap {
  display: grid;
  row-gap: calc(8 / 1080 * 100vw);
  text-align: center;  
}
@media (max-width: 767px) {
 .title-wrap {
  display: grid;
  row-gap: calc(6 / 1080 * 375vw);
  text-align: center;  
 }
}

.title-english-box h2 {
  font-size: 3rem;
  line-height: calc(33 / 30);   
  color: rgba(77, 150, 0, 1);
  letter-spacing: 0.3em;
}

.title-kana-box h2{
  font-size: 2rem;
  line-height: calc(33 / 20);
  letter-spacing: 0.3em;
}

.service-wrap {
  margin-top: calc(68 / 1080 * 100vw);
  display: grid;
  row-gap: calc(80 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .service-wrap {
    margin-top: calc(38 / 375 * 100vw);
    display: grid;
    row-gap: calc(50 / 375 * 100vw);
  }
}

.service-list:nth-of-type(odd){
    position: relative;  
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 767px) {
    .service-list:nth-of-type(odd){
      position: static;
      display: flex;
      flex-direction: column;
      display: grid;      
    }
  }
  
  .service-list:nth-of-type(even){
    position: relative;  
    display: flex;
    flex-direction: row-reverse;
  }
  @media (max-width: 767px) {
    .service-list:nth-of-type(even){
      position: static;
      display: flex;
      flex-direction: column;
    }
  }


.service-img-area {
  display: grid;
  row-gap: calc(19 / 1080 * 100vw);
  position: absolute;
  // top:0;
  // left: 0;
  z-index: 11;  
  }
@media (max-width: 767px) {  
  .service-img-area {
    display: grid;
    row-gap: 0;
    position: static;  
  }
}

.service-img-wrap {
//  width: 600rem;
//  height: 300rem;
width: calc(600 / 1080 * 100vw); 
// height: calc(300 / 1080 * 100vw);
}
@media (max-width: 767px) {  
  .service-img-wrap {
  width: calc(315 / 375 * 100vw); 
  // height: calc(220 / 375 * 100vw);
 }
}

@media (max-width: 767px) { 
.image-caption {
  margin-top: calc(4 / 375 * 100vw);
  margin-bottom: calc(4 / 375 * 100vw);
}
}

.image-caption p {
  font-size: 1.6rem;
  line-height: calc(25 / 16);  
}

.green-box {
//  width: 50rem;
//  height: 25rem;
 width: calc(500 / 1080 * 100vw); 
 
 background-color: rgba(77, 150, 0, 1);
 color: #fff; 
 display: grid;
 row-gap: calc(17 / 1080 * 100vw);
 margin-top: calc(145 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .green-box {    
     width: calc(315 / 375 * 100vw); 
         
     display: grid;
     row-gap: calc(14 / 375 * 100vw);
     margin-top: 0;     
    }
}

.green-box-right {  
  // padding: 50px 0 42px 220px ;  
  padding-top: calc(50 / 1080 * 100vw);
  padding-right: calc(0 / 1080 * 100vw);
  padding-bottom: calc(42 / 1080 * 100vw);
  padding-left: calc(220 / 1080 * 100vw);
  // margin-left:420px;  
  margin-left: calc(420 / 1080 * 100vw);
 }
 @media (max-width: 767px) {
  .green-box-right {      
    padding-top: calc(20 / 375 * 100vw);
    padding-right: calc(20 / 375 * 100vw);
    padding-bottom: calc(12 / 375 * 100vw);
    padding-left: calc(20 / 375 * 100vw);    
    margin-left: 0;
   }
 }

.green-box-left {  
  // padding: 50px 220px 42px 40px ; 
  padding-top: calc(50 / 1080 * 100vw);
  padding-right: calc(220 / 1080 * 100vw);
  padding-bottom: calc(42 / 1080 * 100vw);
  padding-left: calc(40 / 1080 * 100vw);
  // margin-right:420px; 
  margin-right: calc(420 / 1080 * 100vw);
 }
 @media (max-width: 767px) {
  .green-box-left {      
    padding-top: calc(20 / 375 * 100vw);
     padding-right: calc(20 / 375 * 100vw);
     padding-bottom: calc(12 / 375 * 100vw);
     padding-left: calc(20 / 375 * 100vw);
     margin-right: 0;    
   }
 }

.green-box h3 {
  // font-size: 2.5rem;
  font-size: calc(25 / 1080 * 100vw);
  line-height: calc(33 / 25);  
}
@media (max-width: 767px) {
  .green-box h3 {
    // font-size: 2rem;
    font-size: calc(20 / 375 * 100vw);
    line-height: calc(25 / 20);  
  }
}

.green-box p {
  // font-size: 1.6rem;
  font-size: calc(16 / 1080 * 100vw);
  line-height: calc(25 / 16);
}
@media (max-width: 767px) {
  .green-box p {
    // font-size: 1.6rem;
    font-size: calc(16 / 375 * 100vw);
    line-height: calc(25 / 16);
  }
}

.align-right {
  text-align: end;
}
@media (max-width: 767px) {
  .align-right {
    text-align: left;
  }
}
