@use '../../global/variable' as *;
@use '../../global/mixin' as *;

.footer {
  &__main {
    padding: 8rem 0 8.2rem;
    @include sp {
      padding: 5rem 0;
    }
    .inner {
      width: 72.2rem;
      @include sp {
        width: 31.5rem;
      }
    }
  }
  &__logo {
    padding-bottom: 2.8rem;
    border-bottom: 0.1rem solid #000;
    text-align: center;
    @include sp {
      padding-bottom: 2rem;
    }
    h2 {
      font-size: 2rem;
      line-height: calc(33 / 20);
    }
  }
  &__nav {
    margin-top: 2.8rem;
    @include sp {
      margin-top: 2rem;
    }
    ul {
      display: flex;
      justify-content: center;
      column-gap: 5rem;
      @include sp {
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 0.5rem;
      }
      li {
        a {
          font-size: 1.8rem;
          line-height: calc(33 / 18);
          transition: all .4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &__sns {
    margin-top: 2.6rem;
    @include sp {
      margin-top: 2.8rem;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
      li {
        a {
          display: block;
          width: 2.8rem;
          transition: all .4s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &__copyright {
    width: 100%;
    height: 9.2rem;
    background: $color-green;
    color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    p {
      font-size: 2rem;
      @include sp {
        line-height: calc(25 / 20);
      }
    }
  }
}